body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f4f8;
}

nav {
    background: #002b5c;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    background: #ff4e53;
    border: none;
    padding: 8px 15px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

main {
    max-width: 900px;
    margin: 25px auto;
    padding: 15px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 0 0 6px #00000022;
}

button {
    margin-top: 10px;
    background: #0066cc;
    border: none;
    padding: 10px 14px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #004c99;
}

#bloqueosLista div {
    background: #ffe5e5;
    padding: 10px;
    margin-top: 10px;
    border-left: 5px solid red;
}

