body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    background: #f4f6fa;
}

header {
    background: #002b5c;
    color: white;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 600;
}

.container {
    max-width: 450px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}

input, select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    background: #006eff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #0053c7;
}

a {
    color: #006eff;
    text-decoration: none;
}

.card {
    background: white;
    padding: 15px;
    margin: 12px 0;
    border-radius: 6px;
    border-left: 5px solid #006eff;
}

.card p {
    margin: 5px 0;
}
